@font-face {
    font-family: 'Cocomat';
    src: url('fonts/Cocomat-UltraLightItalic.eot'),
        url('fonts/Cocomat-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Cocomat-UltraLightItalic.woff2') format('woff2'),
        url('fonts/Cocomat-UltraLightItalic.woff') format('woff'),
        url('fonts/Cocomat-UltraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Cocomat';
    src: url('fonts/Cocomat.eot');
    src: local('Cocomat'),
        url('fonts/Cocomat.eot?#iefix') format('embedded-opentype'),
        url('fonts/Cocomat.woff2') format('woff2'),
        url('fonts/Cocomat.woff') format('woff'),
        url('fonts/Cocomat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cocomat';
    src: url('fonts/Cocomat-UltraLight.eot');
    src: local('Cocomat UltraLight'), local('Cocomat-UltraLight'),
        url('fonts/Cocomat-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Cocomat-UltraLight.woff2') format('woff2'),
        url('fonts/Cocomat-UltraLight.woff') format('woff'),
        url('fonts/Cocomat-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Cocomat';
    src: url('fonts/Cocomat-Bold.eot');
    src: local('Cocomat Bold'), local('Cocomat-Bold'),
        url('fonts/Cocomat-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Cocomat-Bold.woff2') format('woff2'),
        url('fonts/Cocomat-Bold.woff') format('woff'),
        url('fonts/Cocomat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cocomat';
    src: url('fonts/Cocomat-Heavy.eot');
    src: local('Cocomat Heavy'), local('Cocomat-Heavy'),
        url('fonts/Cocomat-Heavy.eot?#iefix') format('embedded-opentype'),
        url('fonts/Cocomat-Heavy.woff2') format('woff2'),
        url('fonts/Cocomat-Heavy.woff') format('woff'),
        url('fonts/Cocomat-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cocomat';
    src: url('fonts/Cocomat-Light.eot');
    src: local('Cocomat Light'), local('Cocomat-Light'),
        url('fonts/Cocomat-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Cocomat-Light.woff2') format('woff2'),
        url('fonts/Cocomat-Light.woff') format('woff'),
        url('fonts/Cocomat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cocomat';
    src: url('fonts/Cocomat-Italic.eot');
    src: local('Cocomat Italic'), local('Cocomat-Italic'),
        url('fonts/Cocomat-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Cocomat-Italic.woff2') format('woff2'),
        url('fonts/Cocomat-Italic.woff') format('woff'),
        url('fonts/Cocomat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cocomat';
    src: url('fonts/Cocomat-HeavyItalic.eot');
    src: local('Cocomat Heavy Italic'), local('Cocomat-HeavyItalic'),
        url('fonts/Cocomat-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Cocomat-HeavyItalic.woff2') format('woff2'),
        url('fonts/Cocomat-HeavyItalic.woff') format('woff'),
        url('fonts/Cocomat-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Cocomat';
    src: url('fonts/Cocomat-BoldItalic.eot');
    src: local('Cocomat Bold Italic'), local('Cocomat-BoldItalic'),
        url('fonts/Cocomat-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Cocomat-BoldItalic.woff2') format('woff2'),
        url('fonts/Cocomat-BoldItalic.woff') format('woff'),
        url('fonts/Cocomat-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cocomat';
    src: url('fonts/Cocomat-LightItalic.eot');
    src: local('Cocomat Light Italic'), local('Cocomat-LightItalic'),
        url('fonts/Cocomat-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Cocomat-LightItalic.woff2') format('woff2'),
        url('fonts/Cocomat-LightItalic.woff') format('woff'),
        url('fonts/Cocomat-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

